.register {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-image: url("../../Assets/Images/Pokemon-Wallpaper-4K-HD-Free-download.jpg");
    background-position: top right, center;
    background-size: cover;
    min-height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #EF4036;
    padding: 15px;
    border-radius: 20px;
    border: black solid 2px;
    align-items: center;
}

.textRegisterAndNewAcc input {
    margin-bottom: 5px;
    min-width: 220px;
    padding: 5px 0;
    /*background-color: orange;*/
}

.textRegisterAndNewAccTerms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form label {
    min-width: 140px;
}

.form a {
    text-align: center;
    font-family: "Comic Sans MS";
    margin: 15px 0;
}

.contentRegister {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 50px;
}

.contentRegister h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: "Comic Sans MS";
    border-radius: 10px;
    padding: 0 25px;
    color: black;
}

.terms {
    display: flex;
    justify-items: center;
}

.terms input {
    width: 40px;
}

.send {
    margin-top: 20px;
    border: black solid 1.5px;
    cursor: pointer;
    min-width: 200px;
    min-height: 30px;
}

/*.acceptTerms {*/
/*    !*position: relative;*!*/
/*    !*right: 30px;*!*/
/*    !*bottom: 2px;*!*/
/*}*/
