.header {
    display: flex;
    background-color: #212529;
    color: white;
    justify-content: space-between;
    padding: 0 50px;
    min-height: 70px;
    font-family: "Comic Sans MS";
}

@media (max-width: 480px) {
    .header {
        background-color: red;
    }
}

.header .ContentLeft {
    display: flex;
    align-items: center
}

@media (max-width: 480px) {
    .ContentLeft a {
        /*display: none;*/
        /*background-color: blue;*/
    }
}

.header .ContentLeft a {
    margin-right: 40px;
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;
    color: white;
}

.ContentLeft a:hover {
    -webkit-transform: scale(0.5);
    transform: scale(1.2);
    text-decoration: underline;
}

.iconPokemon {
    height: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.iconPokemon {
    transition: all 1s;
}

.iconPokemon:hover {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

.contentRight {
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

.contentRight button, input {
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
}

/*.contentRight button {*/
/*    margin: 0 6px;*/
/*    padding: 6px 15px;*/
/*    transition: transform 200ms, box-shadown 200ms;*/
/*    box-shadow: whitesmoke 4px 4px 0;*/
/*    cursor: pointer;*/
/*}*/


.contentRight a {
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    padding: 6px 15px;
    transition: all 0.2s;
    margin-left: 10px;

}

/*.contentRight button:hover {*/
/*    -webkit-transform: scale(1.5);*/
/*    transform: scale(1.2);*/
/*}*/

.contentRight a:hover {
    -webkit-transform: scale(0.5);
    transform: scale(1.2);
}

.searcher {
    margin-right: 20px;
    align-self: center;
    float: left;
}

.lupa {
    float: left;
    margin: 0 0 0 -24px;
    cursor: pointer;
}

/*.signUp button {*/
/*    font-size: 16px;*/
/*    font-family: "Comic Sans MS";*/
/*    !*background-color: #cb193f;*!*/
/*    transition: all 0.2s;*/
/*}*/

/*.signUp button:active {*/
/*    transform: translateY(-3px);*/
/*}*/

/*.logIn, .signUp button:active {*/
/*    transform: translateY(4px) translateX(4px);*/
/*    box-shadow: #212529 0 0 0;*/
/*}*/

.input-group {
    position: relative;
    padding-right: 40px;


}

.input-group input {
    border: solid 1.5px #9e9e9e;
    border-radius: 10px;
    background: none;
    padding: 10px;
    font-size: 10px;
    color: #f5f5f5;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    /*background: red;*/
    min-width: 180px;
}

.input-group label {
    position: absolute;
    left: 16px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateX(10px);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-group input:focus {
    outline: none;
    border: 1.5px solid #FFC107;
}

.input-group input:focus ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #212529;
    padding: 0 0.2em;
    color: #FFC107;
}

button {
    font-size: 14px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: whitesmoke;
    color: black;
    border-radius: 4px;
    font-family: "Comic Sans MS";
    margin-right: 5px;
}

button:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(238, 21, 21) 0%, rgb( 34, 34, 36) 100%);
    /*color: black;*/
}

button:active {
    transform: translate(0em, 0.2em);
}
