.header {
    display: flex;
    background-color: #212529;
    color: white;
    justify-content: space-between;
    min-height: 70px;
    font-family: "Comic Sans MS";
    transition: all 0.2s;
    z-index: 5;
}

.header .ContentLeft {
    display: flex;
    align-items: center;
    padding-left: 25px;
}

@media (max-width: 480px) {
    .ContentLeft a {
        display: none;
    }
}

.header .ContentLeft a {
    margin-right: 40px;
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;
    color: white;
}

.ContentLeft a:hover {
    -webkit-transform: scale(0.5);
    transform: scale(1.2);
    text-decoration: underline;
}

.iconPokemon {
    height: 20px;
    margin-right: 20px;
    margin-top: 5px;
  }

.contentRight {
    display: flex;
    align-items: center;
    transition: all 0.2s;
    justify-content: right;
    padding-right: 25px;
}

.contentRight button, input {
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
}

.contentRight a {
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    padding: 6px 15px;
    transition: all 0.2s;
    margin-left: 10px;
}

.contentRight a:hover {
    -webkit-transform: scale(0.5);
    transform: scale(1.2);
}

.searcher {
    margin-right: 20px;
    align-self: center;
    float: left;
}

.contentRight button {
    font-size: 14px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: whitesmoke;
    color: black;
    border-radius: 4px;
    font-family: "Comic Sans MS";
    margin-right: 5px;
    cursor: pointer;
}

.contentRight button:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(238, 21, 21) 0%, rgb(34, 34, 36) 100%);
}

.iconPokemon {
    height: 45px;
    width: 45px;
    cursor: default;
}

.fixedMenu {
    position: fixed;
    top: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(238, 21, 21) 0%, rgb(34, 34, 36) 100%);
    width: 100%;
    display: flex;
}

.inputGroup {
    background-color: whitesmoke;
    display: flex;
    margin-right: 20px;
    border-radius: 30px;
    border: 2px solid #CE8D23;
}

.inputGroup input {
    border: none;
    outline: 0;
    background-color: transparent;
    font-family: "Comic Sans MS";
    font-weight: 300;
    font-size: 15px;
    padding: 5px 10px;
    text-align: center;
}

.inputGroup label {
    border: none;
}

.inputGroup svg {
    color: black;
    margin-right: 5px;
}
